<div id="container">
    <div id="wrapper">
        <h1 class="rap">Rap Snitches...Telling All They Business</h1>
        <h2 class="stitches"><i>>Check out some of Fandemoniums coolest Rap/Hip Hop Music Vlogs Below, After make sure you leave a comment below by clicking on the link, TELL US HOW YA REALLY FEEL DAWG </i></h2>
        <div id="Blogs"></div>
        <div id="Notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
</div>